<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fractal_panda">
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:property name="arm_id" value="$(arg arm_id)"/>

  <group name="panda_arm">
    <chain base_link="${arm_id}_link0" tip_link="omega_contact_tip"/>
  </group>

  <group_state name="ready" group="panda_arm">
    <joint name="${arm_id}_joint1" value="0"/>
    <joint name="${arm_id}_joint2" value="${-pi/4}"/>
    <joint name="${arm_id}_joint3" value="0"/>
    <joint name="${arm_id}_joint4" value="${-3*pi/4}"/>
    <joint name="${arm_id}_joint5" value="0"/>
    <joint name="${arm_id}_joint6" value="${pi/2}"/>
    <joint name="${arm_id}_joint7" value="${pi/4}"/>
  </group_state>

  <group_state name="extended" group="panda_arm">
    <joint name="${arm_id}_joint1" value="0"/>
    <joint name="${arm_id}_joint2" value="0"/>
    <joint name="${arm_id}_joint3" value="0"/>
    <joint name="${arm_id}_joint4" value="-0.1"/>
    <joint name="${arm_id}_joint5" value="0"/>
    <joint name="${arm_id}_joint6" value="${pi/2}"/>
    <joint name="${arm_id}_joint7" value="${pi/4}"/>
  </group_state>

  <disable_collisions link1="${arm_id}_link0" link2="${arm_id}_link1" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link0" link2="${arm_id}_link2" reason="Never"/>
  <disable_collisions link1="${arm_id}_link0" link2="${arm_id}_link3" reason="Never"/>
  <disable_collisions link1="${arm_id}_link0" link2="${arm_id}_link4" reason="Never"/>
  <disable_collisions link1="${arm_id}_link1" link2="${arm_id}_link2" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link1" link2="${arm_id}_link3" reason="Never"/>
  <disable_collisions link1="${arm_id}_link1" link2="${arm_id}_link4" reason="Never"/>
  <disable_collisions link1="${arm_id}_link2" link2="${arm_id}_link3" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link2" link2="${arm_id}_link4" reason="Never"/>
  <disable_collisions link1="${arm_id}_link2" link2="${arm_id}_link6" reason="Never"/>
  <disable_collisions link1="${arm_id}_link3" link2="${arm_id}_link4" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link3" link2="${arm_id}_link5" reason="Never"/>
  <disable_collisions link1="${arm_id}_link3" link2="${arm_id}_link6" reason="Never"/>
  <disable_collisions link1="${arm_id}_link3" link2="${arm_id}_link7" reason="Never"/>
  <disable_collisions link1="${arm_id}_link4" link2="${arm_id}_link5" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link4" link2="${arm_id}_link6" reason="Never"/>
  <disable_collisions link1="${arm_id}_link4" link2="${arm_id}_link7" reason="Never"/>
  <disable_collisions link1="${arm_id}_link4" link2="${arm_id}_link8" reason="Never"/>
  <disable_collisions link1="${arm_id}_link5" link2="${arm_id}_link6" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link6" link2="${arm_id}_link7" reason="Adjacent"/>
  <disable_collisions link1="${arm_id}_link6" link2="${arm_id}_link8" reason="Default"/>
  <disable_collisions link1="${arm_id}_link7" link2="${arm_id}_link8" reason="Adjacent"/>

  <disable_collisions link1="${arm_id}_link8" link2="fractal_coupler" reason="Adjacent"/>
  <disable_collisions link1="fractal_coupler" link2="fractal_L1" reason="Adjacent"/>
  <disable_collisions link1="fractal_L1" link2="motor_body" reason="Adjacent"/>
  <disable_collisions link1="motor_body" link2="fractal_L2" reason="Adjacent"/>
  <disable_collisions link1="fractal_L2" link2="fractal_L4" reason="Adjacent"/>
  <disable_collisions link1="fractal_L1" link2="fractal_L3" reason="Adjacent"/>
  <disable_collisions link1="fractal_L1" link2="fractal_L5325" reason="Adjacent"/>
  <disable_collisions link1="fractal_L4" link2="fractal_fingertip_holder" reason="Adjacent"/>
  <disable_collisions link1="fractal_fingertip_holder" link2="fractal_S1813" reason="Adjacent"/>
  <disable_collisions link1="fractal_L5325" link2="omega_contact_tip" reason="Adjacent"/>

  <!-- fractal_L1 - panda_link7
fractal_L1 - panda_link8
fractal_L2 - panda_link7
fractal_L3 - fractal_fingertip_holder
fractal_L3 - panda_link7
fractal_L4 - panda_link7
fractal_coupler - panda_link7
motor_body - panda_link7 -->
<disable_collisions link1="fractal_L1" link2="panda_link7" reason="Adjacent"/>
<disable_collisions link1="fractal_L1" link2="panda_link8" reason="Adjacent"/>
<disable_collisions link1="fractal_L2" link2="panda_link7" reason="Adjacent"/>
<disable_collisions link1="fractal_L3" link2="fractal_fingertip_holder" reason="Adjacent"/>
<disable_collisions link1="fractal_L3" link2="panda_link7" reason="Adjacent"/>
<disable_collisions link1="fractal_L4" link2="panda_link7" reason="Adjacent"/>
<disable_collisions link1="fractal_coupler" link2="panda_link7" reason="Adjacent"/>
<disable_collisions link1="motor_body" link2="panda_link7" reason="Adjacent"/>

</robot>